/* Make map full screen */
body, html { margin: 0; height: 100%; overflow: hidden; }
#map { height: 100%; width: 100%; }

/* CENTER CROSSHAIR */
#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Perfect centering */
    pointer-events: none; /* Let clicks pass through to the map */
    z-index: 999; /* On top of map */
}

/* BUTTONS */
#controls {
    position: absolute;
    bottom: 10%;
    z-index: 1000; /* On top of map */

    left: 50%;
    transform: translate(-50%, -50%); /* Perfect centering */
    display: flex;
    gap: 15px;
}

/* SIMPLE MODAL STYLING */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5); /* Dimmed background */
}
.modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    text-align: center;
}
textarea { width: 100%; margin-bottom: 10px; }